<p> I am the partial for showing probeset graphs and stuff</p>
<p>{{var1}}</p>
<p>gene: {{which_gene}}</p>
<p>probeset: {{which_probeset}}</p>
<p>Gene: {{gene}}</p>
<p>Probeset: {{probeset}}</p>
<p>expressions: {{expressions}}</p>