<p> I am the partial for showing probeset graphs and stuff</p>
<p>{{var1}}</p>
<p>gene: {{which_gene}}</p>
<p>probeset: {{which_probeset}}</p>
<p>Probeset: {{probeset}}</p>
<p>expressions: {{expressions}}</p>
<p>expressions array: {{data_array}}</p>
<h3>{{plot_datas}}</h3>
<chart ng-model="plot_datas" style="width:1000; height: 500"></chart>


