<a href='/'>Back</a>
<p> I am the partial for showing probeset graphs and stuff</p>
<p>{{var1}}</p>
<p>gene: {{which_gene}}</p>
<p>probeset: {{which_probeset}}</p>
<p>Probeset: {{probeset}}</p>
<p>expressions: {{expressions}}</p>
<p>expressions array: {{data_array}}</p>
<p>plot_datas: {{plot_datas}}</p>	       
<h3>data_array: {{data_array}}</h3>
<chart ng-model="data_array" style="width:1000; height: 500"></chart>
<p id="spacing" />

