<a href='/'>Back</a>
<p> I am the partial for showing probeset graphs and stuff</p>
<p>gene: {{which_gene}}</p>
<p>probeset: {{which_probeset}}</p>
<p>expressions: {{data_array}}</p>
<chart ng-model="data_array" style="width:1000; height: 500"></chart>
<p id="spacing" />

