<!DOCTYPE html>
<html ng-app="geneApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--script src="http://code.angularjs.org/1.0.6/angular.min.js"></script -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="controllers.js"></script>
    <script src="GeneApp.js"></script>
  </head>
  <!--body ng-controller="WorldCtrl">-->
  <h1><%= title %></h1>
  <div ng-view></div>
  </body>
</html>
