<!DOCTYPE html>
<html ng-app="geneApp">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <!-- anything in curly braces in index should be done with ng-cloak or better ng-bind, so you don't get {{}} showing up  doesn't matter in the rest of the app, since that stuff gets compiled before it renders-->
  <h1><%= title %></h1>
  <div ng-view></div>
  <!-- best practice to have these scripts at the bottom, because they are blocking.  this way, your page can start loading and look good more quickly -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.js"></script>
<!--    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script> change for production.  version??-->
    <script src="controllers.js"></script>
    <script src="GeneApp.js"></script>

  </body>
</html>
